main {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
}

@media only screen and (max-device-width: 736px) {
    main {
        padding: 0rem;
    }
}

::selection {
    background: #6272a4;
}

body {
    background: #282A36;
    color: #F8F8F2;
    font-size: 19px;
}

/* Nav */
nav {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: left;
}

nav a, nav a:active, nav a:visited {
    color: #ffb86c;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    font-weight: 600;
    color: #50fa7b;
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}

h1 {
    color: #FF79C6;
    margin-bottom: .1rem;
    font-size: 24px;
}

h2 {
    color: #bd93f9 !important;
    margin-bottom: .1rem;
    font-size: 23px;
}

main ul {
    list-style: none
}

main li::before {
    content: "•";
    color: #BD93F9;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

small {
    font-size: 16px;
    color: #BD93F9;
}
